{{!-- Home --}}
<div class="row">
    <div class="col-md-8 mx-auto">
        {{#each posts}}
        <div class="card mb-3">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="/post/{{id}}">{{title}}</a>
                </h2>
                <div>
                    Posted by {{user.username}} on {{formatDate createdAt}}
                </div>
                <div class="card-body">
                    {{!-- <a href="/dashboard/edit/{{id}}" class="btn btn-primary">Edit</a>
                    <button class="btn btn-danger" data-id="{{id}}">Delete</button> --}}
                    {{body}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>