{{!-- post --}}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <h3>{{post.title}}</h3>
                    <p class="text-muted">Posted by {{post.user.username}} on {{formatDate post.createdAt}}</p>
                    <p class="card-text">{{post.body}}</p>
                </div>
            </div>
        {{!-- comments --}}
            {{#if post.comments}}

            <section class="card">
              <div class="card-header">
                <h3>Comments 📄 </h3>
              </div>
              <div class="card-body">
                <div class="comments-section">
                  {{#each post.comments as |comment|}}
                  <div class="comment">
                    <div class="comment-header">
                      <strong>{{comment.user.username}}</strong> commented on <em>{{formatDate comment.createdAt}}</em>:
                    </div>
                    <div class="comment-body">
                      <p>{{comment.body}}</p>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>

            </section>
            {{/if}}
        </div>
    </div>

  {{!-- new comments --}}
    <div class="row">
      <div class="col-md-8">
        
          <form id="new-comment-form">
            <div class="card-header" class="card mb-3">
              <h3>Add New Comment 📝</h3>
            </div>
              <input type="hidden" name="postId" value="{{post.id}}" />
            <div class="form-group">
              <textarea name="comment-body" class="form-control" rows="3" placeholder="Leave a comment"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Add Comment ➕</button>
          </form>
        
      </div>
    </div>
</div>

<script src="/js/comments.js"></script>